# Importando bibliotecas

In [1]:
import numpy as np         # para fazer contas e mexer com matrizes
import pandas as pd        # para montar DataFrames (tabelas de bancos de dados)

import matplotlib.pyplot as plt
import seaborn as sns

import modelos as m

# CUIDADO!!! Para esconder os avisos do curvefit():
import warnings
warnings.filterwarnings("ignore")

In [2]:
# para n√£o precisar reiniciar o kernel do jupyter-notebook quando mudar os arquivos .py
%load_ext autoreload
%autoreload 2

In [3]:
sns.set_theme()

# Lendo dados

In [12]:
resultdf_indiv = pd.read_pickle('./output/dados_eit_modelos.pkl')
resultdf_indiv.tail(2)

,Animal,Maneuver,n_steps,Pressures,Volumes,Model,Method,TLC_index,N_points_interp,p0,bounds,fitted,parameters,Vol_CT,error,fit error,error factor,Raw data
1798,mra33,B,3,"[10.303646087646484, 14.871094226837158, 20.07...","[146.587890625, 330.3841552734375, 560.5339355...",sigmoidmurphyoffset,dogbox,0,20,"[2000.0, -200.0, 6000, 6000, 32.0]","([500, -600, 2000, 2000, 10], [3500, -100, 200...",True,"[2399.162461735464, -600.0, 20000.0, 12249.219...",2154.6,11.350713,0.149489,3.655387,"[[10.303646087646484, 146.587890625], [20.1421..."
1799,mra33,C,4,"[10.202864646911621, 15.145573139190674, 20.05...","[-56.06181335449219, 113.50151824951172, 334.8...",sigmoidmurphyoffset,dogbox,0,20,"[2000.0, -200.0, 6000, 6000, 32.0]","([500, -600, 2000, 2000, 10], [3500, -100, 200...",True,"[2287.6878993115215, -599.9999999976203, 20000...",2154.6,6.176919,0.064135,1.364676,"[[10.202864646911621, -56.06181335449219], [20..."

In [11]:
dados_ct_df = pd.read_pickle('./volume_referencia/dados_ct_completo.pkl')
dados_ct_df.head(2)

,Animal,Pressure,CT Volume,Volume (Luva),Estimated TLC,Estimated K,CT_Volume (rec),Pressure (rec),CT folders,CT folders (rec),Recruited percentage,Recruitment potential
0,mra26,"[10, 30, 45]","[458.40117130279543, 1406.1211183943176, 1969....","[1367.135, 1944.058, 2571.724]",2622.866589,0.030899,"[0, 1373.4339242285157, 1969.8752383276367]","[0, 24, 45]",[/mnt/hdsda3/arquivos/Recrutamento/CT_data_org...,[/mnt/hdsda3/arquivos/Recrutamento/CT_data_org...,"[0.657497323175345, 0.8872168925301633, 1.0]","[0.34250267682465496, 0.11278310746983666, 0.0]"
1,mra28,"[10, 20, 25, 30, 45]","[539.5733922408295, 866.4519947195436, 1110.76...","[1283.233, 1660.177, 1847.163, 2051.841, 2076....",2105.897077,0.044662,"[0, 1384.9271159648897, 1823.6774616718296]","[0, 24, 45]",[/mnt/hdsda3/arquivos/Recrutamento/CT_data_org...,[/mnt/hdsda3/arquivos/Recrutamento/CT_data_org...,"[0.7112959429745049, 0.6965586330935198, 0.784...","[0.28870405702549506, 0.30344136690648016, 0.2..."